/* Styles for the weather app. */

body {
  margin: 50px auto;
  background-image: url('/images/weather.png');
  background-size: cover;
}

.center {
  text-align: center;
}

.weather_icon {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border: none;
}

.result .description {
  font-size: 22px;
  line-height: normal;
}

#location {
  margin-top: 1em;
  font-weight: bold;
  font-size: large;
}

.details {
  display: none;
  margin-top: 2em;
}

.forecast {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
